;Mod-Tap Layers example

{
 :profiles {
            :goku {
                      :default true

                      ; simultaneous_threshold_milliseconds (def: 50)
                      ; different from simlayers, this is for cases like [:a :b]
                      :sim     50

                      ; to_delayed_action_delay_milliseconds
                      ; NOTE: this should be equal to :held for mod-tap layers
                      :delay   210

                      ; to_if_held_down_threshold_milliseconds (def: 500)
                      ; NOTE: this should be equal to :delay for mod-tap layers
                      :held    210

                      ; to_if_alone_timeout_milliseconds (def: 1000)
                      ; NOTE: (i think) this must be just less than the delay / held value to avoid bug where mod-tap layer stays 1
                      :alone   209

                      ;you can set these delays individually in mod-tap layer definitions if you want separate default values here 
                      }
            }

 :templates {
             :notify "osascript -e 'display notification \"%s\"'"
             }

 :main [ 
        {:des "Simple remaps"
         :rules [[:condi :!t-mode :!space-mode :!rc-mode]
                 ;; left-hand
                 [:tab :w] [:q :e] [:w :r] [:e :t] [:caps_lock :a] [:a :s] [:s :d] [:down_arrow :tab] [:left_shift :q] [:grave_accent_and_tilde :g] [:z :c] [:x :v] [:c :b]
                 ;; right-hand
                 [:keypad_1 :n]
                 [:keypad_2 :m]
                 [:keypad_3 :y]
                 [:keypad_5 :j]
                 [:keypad_6 :k]
                 [:keypad_7 :u]
                 [:keypad_8 :i]
                 [:keypad_9 :o]
                 [:keypad_enter :p]
                 [:keypad_plus :l]
                 [:keypad_hyphen :n]
                 ]}
        {:des "Remaps using left-command"
         :rules [[:!Cdown_arrow :!Ctab] [:!Ctab :!Cw]]}
        {:des "Remaps using right-command"
         :rules [[:!Qtab :!R1]]}
        {:des "Remaps using left shift"
         :rules [[:!Stab :!Sw]]}
        ;NOTE: When adding a new layer, if you want it to be able to cross with an old one, you must add the name negated (:!new_name) to all other mod-tap layer conditions
        {
         :des "mod-tap layers"
         :rules [
                 ;n-mode
                 [:spacebar nil [:!t-mode]
                  {:alone {:key :spacebar :halt true} :delayed {:canceled {:key :spacebar}} :held {:set ["space-mode" 1] :repeat false} :afterup {:set ["space-mode" 0]}
                   ;if want to define ms delays here
                   ;:params {:alone 199 :held 200 :delay 200} 
                   }]

                 ;t-mode

                 [:d nil [:t-mode :!rc-mode]
                  {:alone {:key :!Rf :halt true} :delayed {:canceled {:key :!Rf}} :held {:set ["t-mode" 1] :repeat false} :afterup {:set ["t-mode" 0]}}]

                 [:d nil [:!space-mode :!rc-mode]
                  {:alone {:key :f :halt true} :delayed {:canceled {:key :d}} :held {:set ["t-mode" 1] :repeat false} :afterup {:set ["t-mode" 0]}}]

                 [:keypad_4 nil [:t-mode :!rc-mode]
                  {:alone {:key :!Rh :halt true} :delayed {:canceled {:key :!Rh}} :held {:set ["t-mode" 1] :repeat false} :afterup {:set ["t-mode" 0]}}]

                 [:keypad_4 nil [:!space-mode :!rc-mode]
                  {:alone {:key :h :halt true} :delayed {:canceled {:key :h}} :held {:set ["t-mode" 1] :repeat false} :afterup {:set ["t-mode" 0]}}]

                 [:right_arrow nil [:!space-mode :!t-mode]
                  {:alone {:key :escape :halt true} :delayed {:canceled {:key :escape}} :held {:set ["rc-mode" 1] :repeat false} :afterup {:set ["rc-mode" 0]}}]
                 ]
         }
        {
         :des "space-mode"
         :rules [
                 :space-mode
                 [:keypad_1 :keypad_7]
                 [:keypad_2 :keypad_8]
                 [:keypad_3 :keypad_9]
                 [:keypad_4 :keypad_4]
                 [:keypad_5 :keypad_5]
                 [:keypad_6 :keypad_6]
                 [:keypad_7 :keypad_1]
                 [:keypad_8 :keypad_2]
                 [:keypad_9 :keypad_3]
                 [:keypad_hyphen [:!Rclose_bracket :spacebar]]
                 [:keypad_equal_sign [:!Eclose_bracket :spacebar]]
                 [:keypad_slash :backslash]
                 ]
         }
        {
         :des "t-mode"
         :rules [
                 :t-mode
                 ;; left-hand
                 [:tab :!Rw] [:q :!Re] [:w :!Rr]
                 [:e :!Rt] [:caps_lock :!Ra] [:a :!Rs]
                 [:s :!Rd]
                 [:d :!Rf]
                 [:left_shift :!Rq]
                 [:grave_accent_and_tilde :!Rg]
                 [:z :!Rc]
                 [:x :!Rv]
                 [:c :!Rb]
                 ;; right-hand
                 [:keypad_1 :!Rn]
                 [:keypad_2 :!Rm]
                 [:keypad_3 :!Ry]
                 [:keypad_4 :!Rh]
                 [:keypad_5 :!Rj]
                 [:keypad_6 :!Rk]
                 [:keypad_7 :!Ru]
                 [:keypad_8 :!Ri]
                 [:keypad_9 :!Ro]
                 [:keypad_enter :!Rp]
                 [:keypad_plus :!Rl]
                 [:keypad_hyphen :!Rn]
                 ]
         }
{
         :des "rc-mode"
         :rules [
                 :rc-mode
                 ;; left-hand
                 [:tab :!R1] [:q :!R2] [:w :non_us_backslash]
                 [:e :!R0] [:caps_lock :comma] [:a :period] [:s :!Rperiod]
                 [:left_shift :!Requal_sign]
                 [:grave_accent_and_tilde :!Rcomma]
                 [:z :!Rbackslash] [:x :!E7] [:a :period] [:c :!R7]
                 [:keypad_1 :!E8]
                 [:keypad_2 :!E9]
                 [:keypad_3 :grave_accent_and_tilde]
                 [:keypad_enter :!Rgrave_accent_and_tilde]
                 [:keypad_4 :!Rh]
                 [:keypad_5 :!Rj]
                 [:keypad_6 :!Rk]
                 [:keypad_7 :!Ru]
                 [:keypad_8 :!Ri]
                 [:keypad_9 :!Ro]
                 [:keypad_plus :slash]
                 [:keypad_hyphen :!R5]
                 ]
         }
        ]
 }

                        ;; "description": "keypad_1 plus command_r to ]",
                        ;; "description": "keypad_2 plus command_r to ]",
                        ;; "description": "keypad_3 plus command_r to <",
                        ;; "description": "keypad_enter plus command_r to -",
                        ;; "description": "keypad_4 plus command_r to (",
                        ;; "description": "keypad_5 plus command_r to )",
                        ;; "description": "keypad_6 plus command_r to {",
                        ;; "description": "keypad_7 plus command_r to #",
                        ;; "description": "keypad_8 plus command_r to $",
                        ;; "description": "keypad_9 plus command_r to $",
                        ;; "description": "keypad_hyphen plus command_r to %",
