;Mod-Tap Layers example

{
 :profiles {
            :goku {
                      :default true

                      ; simultaneous_threshold_milliseconds (def: 50)
                      ; different from simlayers, this is for cases like [:a :b]
                      :sim     50

                      ; to_delayed_action_delay_milliseconds
                      ; NOTE: this should be equal to :held for mod-tap layers
                      :delay   210

                      ; to_if_held_down_threshold_milliseconds (def: 500)
                      ; NOTE: this should be equal to :delay for mod-tap layers
                      :held    210

                      ; to_if_alone_timeout_milliseconds (def: 1000)
                      ; NOTE: (i think) this must be just less than the delay / held value to avoid bug where mod-tap layer stays 1
                      :alone   209

                      ;you can set these delays individually in mod-tap layer definitions if you want separate default values here 
                      }
            }

 :templates {
             :notify "osascript -e 'display notification \"%s\"'"
             :open "open \"%s\""
             }

 :main [ 
        {:des "Simple remaps"
         :rules [[:condi :!shift-mode :!space-mode :!right-arrow-mode :!cntrl-mode :!command-mode :!plus-mode]
                 ;; left-hand
                 [:caps_lock :a]
                 [:keypad_equal_sign :delete_or_backspace]
                 [:tab :w] [:q :e] [:w :r] [:e :t] [:down_arrow :tab] [:left_shift :q] [:grave_accent_and_tilde :g] [:z :c] [:x :v] [:c :b]
                 ;; right-hand
                 [:keypad_1 :n]
                 [:keypad_2 :m]
                 [:keypad_3 :y]
                 [:keypad_7 :u]
                 [:keypad_8 :i]
                 [:keypad_9 :o]
                 [:keypad_enter :p]
                 [:keypad_hyphen :n]
                 ]}
        ;NOTE: When adding a new layer, if you want it to be able to cross with an old one, you must add the name negated (:!new_name) to all other mod-tap layer conditions
        {
         :des "mod-tap layers"
         :rules [
                       ;; space + left hand side F1..F12 buttons
                       ;; keypad_enter: start software

                       ;;  "description": "a held down to control",
                       ;;  "description": "s held down to left_command",
                       ;;  "description": "d held down to right_shift",
                       ;;  "description": "keypad_5 held down to left control",
                       ;;  "description": "keypad_6 held down to left_command",
                       ;;  "description": "keypad_4 held down to right shift",

                 ;; Q W E R stands for right_command right_control right_option right_shift

                 ;n-mode


                 [:keypad_plus nil [:!space-mode :shift-mode :!cntrl-mode :!right-arrow-mode]
                  {:alone {:key :!Rl :halt true} :delayed {:canceled {:key :!Rl}} :held {:set ["plus-mode" 1] :repeat false} :afterup {:set ["plus-mode" 0]}}]

                 [:keypad_plus nil [:!space-mode :!shift-mode :!cntrl-mode :!right-arrow-mode]
                  {:alone {:key :l :halt true} :delayed {:canceled {:key :l}} :held {:set ["plus-mode" 1] :repeat false} :afterup {:set ["plus-mode" 0]}}]

                 [:keypad_plus nil [:!space-mode :!shift-mode :!cntrl-mode :right-arrow-mode]
                  {:alone {:key :return_or_enter :halt true} :delayed {:canceled {:key :return_or_enter}} :held {:set ["plus-mode" 1] :repeat false} :afterup {:set ["plus-mode" 0]}}]

                 [:spacebar nil [:!shift-mode]
                  {:alone {:key :spacebar :halt true} :delayed {:canceled {:key :spacebar}} :held {:set ["space-mode" 1] :repeat false} :afterup {:set ["space-mode" 0]}
                   ;if want to define ms delays here
                   ;:params {:alone 199 :held 200 :delay 200} 
                   }]

                 [:s nil [:command-mode :!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :!Wd :halt true} :delayed {:canceled {:key :!Wd}} :held {:set ["command-mode" 1] :repeat false} :afterup {:set ["command-mode" 0]}}]

                 [:keypad_6 nil [:command-mode :!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :!Wk :halt true} :delayed {:canceled {:key :!Wk}} :held {:set ["command-mode" 1] :repeat false} :afterup {:set ["command-mode" 0]}}]

                 [:s nil [:!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :d :halt true} :delayed {:canceled {:key :d}} :held {:set ["command-mode" 1] :repeat false} :afterup {:set ["command-mode" 0]}}]

                 [:keypad_6 nil [:!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :k :halt true} :delayed {:canceled {:key :k}} :held {:set ["command-mode" 1] :repeat false} :afterup {:set ["command-mode" 0]}}]

                 [:a nil [:cntrl-mode :!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :!Ws :halt true} :delayed {:canceled {:key :!Ws}} :held {:set ["cntrl-mode" 1] :repeat false} :afterup {:set ["cntrl-mode" 0]}}]

                 [:keypad_5 nil [:cntrl-mode :!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :!Wl :halt true} :delayed {:canceled {:key :!Wl}} :held {:set ["cntrl-mode" 1] :repeat false} :afterup {:set ["cntrl-mode" 0]}}]

                 [:a nil [:!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :s :halt true} :delayed {:canceled {:key :s}} :held {:set ["cntrl-mode" 1] :repeat false} :afterup {:set ["cntrl-mode" 0]}}]

                 [:keypad_5 nil [:!shift-mode :!right-arrow-mode :!space-mode]
                  {:alone {:key :l :halt true} :delayed {:canceled {:key :l}} :held {:set ["cntrl-mode" 1] :repeat false} :afterup {:set ["cntrl-mode" 0]}}]
                 ;shift-mode
                 [:d nil [:shift-mode :!right-arrow-mode :!space-mode :!cntrl-mode]
                  {:alone {:key :!Rf :halt true} :delayed {:canceled {:key :!Rf}} :held {:set ["shift-mode" 1] :repeat false} :afterup {:set ["shift-mode" 0]}}]

                 [:d nil [:!space-mode :!right-arrow-mode :!cntrl-mode]
                  {:alone {:key :f :halt true} :delayed {:canceled {:key :d}} :held {:set ["shift-mode" 1] :repeat false} :afterup {:set ["shift-mode" 0]}}]

                 [:keypad_4 nil [:shift-mode :!right-arrow-mode :!cntrl-mode :!plus-mode]
                  {:alone {:key :!Rh :halt true} :delayed {:canceled {:key :!Rh}} :held {:set ["shift-mode" 1] :repeat false} :afterup {:set ["shift-mode" 0]}}]

                 [:keypad_4 nil [:!space-mode :!right-arrow-mode :!cntrl-mode :!plus-mode]
                  {:alone {:key :h :halt true} :delayed {:canceled {:key :h}} :held {:set ["shift-mode" 1] :repeat false} :afterup {:set ["shift-mode" 0]}}]

                 [:keypad_4 nil [:plus-mode :!shift-mode :!cntrl-mode :!command-mode]
                  {:alone [:open "/Applications/Brave Browser.app/"] :delayed {:canceled {:key :escape}} :held {:set ["right-arrow-mode" 1] :repeat false} :afterup {:set ["right-arrow-mode" 0]}}]

                 [:right_arrow nil [:!space-mode :!shift-mode :!cntrl-mode]
                  {:alone {:key :escape :halt true} :delayed {:canceled {:key :escape}} :held {:set ["right-arrow-mode" 1] :repeat false} :afterup {:set ["right-arrow-mode" 0]}}]

                 [:right_arrow nil [:!space-mode :!shift-mode :!cntrl-mode]
                  {:alone {:key :escape :halt true} :delayed {:canceled {:key :escape}} :held {:set ["right-arrow-mode" 1] :repeat false} :afterup {:set ["right-arrow-mode" 0]}}]

                 ]
         }
        {
         :des "space-mode"
         :rules [
                 :space-mode
                 [:keypad_1 :keypad_7]
                 [:keypad_2 :keypad_8]
                 [:keypad_3 :keypad_9]
                 [:keypad_4 :keypad_4]
                 [:keypad_5 :keypad_5]
                 [:keypad_6 :keypad_6]
                 [:keypad_7 :keypad_1]
                 [:keypad_8 :keypad_2]
                 [:keypad_9 :keypad_3]
                 [:keypad_hyphen [:!Rclose_bracket :spacebar]]
                 [:keypad_equal_sign [:!Eclose_bracket :spacebar]]
                 [:keypad_slash :backslash]
                 [:keypad_plus :slash]
                 [:keypad_0 :return_or_enter]
                 ]
         }
        {
         :des "shift-mode"
         :rules [
                 :shift-mode
                 ;; left-hand
                 [:tab :!Rw] [:q :!Re] [:w :!Rr]
                 [:e :!Rt] [:caps_lock :!Ra] [:a :!Rs]
                 [:s :!Rd]
                 [:d :!Rf]
                 [:left_shift :!Rq]
                 [:grave_accent_and_tilde :!Rg]
                 [:z :!Rc]
                 [:x :!Rv]
                 [:c :!Rb]
                 ;; right-hand
                 [:keypad_1 :!Rn]
                 [:keypad_2 :!Rm]
                 [:keypad_3 :!Ry]
                 [:keypad_4 :!Rh]
                 [:keypad_5 :!Rj]
                 [:keypad_6 :!Rk]
                 [:keypad_7 :!Ru]
                 [:keypad_8 :!Ri]
                 [:keypad_9 :!Ro]
                 [:keypad_enter :!Rp]
                 [:keypad_hyphen :!Rn]
                 ]
         }
{
         :des "right-arrow-mode"
         :rules [
                 :right-arrow-mode
                 [:tab :!R1] [:q :!R2] [:w :non_us_backslash]
                 [:e :!R0] [:caps_lock :comma] [:a :period] [:s :!Rperiod]
                 [:d :!Rcomma]
                 [:left_shift :!Requal_sign]
                 [:grave_accent_and_tilde :!Rcomma]
                 [:z :!Rbackslash] [:x :!E7] [:a :period] [:c :!R7]
                 [:keypad_1 :!E8]
                 [:keypad_2 :!E9]
                 [:keypad_3 :grave_accent_and_tilde]
                 [:keypad_enter :!Rgrave_accent_and_tilde]
                 [:keypad_4 :!R8]
                 [:keypad_5 :!R9]
                 [:keypad_6 :!RE8]
                 [:keypad_7 :!R3]
                 [:keypad_8 :!R4]
                 [:keypad_9 :!R5]
                 [:keypad_plus :!RE9]
                 [:keypad_hyphen :!R7]
                 ]
         }
{
         :des "cntrl-mode"
         :rules [
                 :cntrl-mode
                 ;; left-hand
                 [:tab :!Ww] [:q :!We] [:w :!Wr]
                 [:e :!Wt] [:caps_lock :!Wa] [:a :!Ws]
                 [:s :!Wd]
                 [:d :!Wf]
                 [:left_shift :!Wq]
                 [:grave_accent_and_tilde :!Wg]
                 [:z :!Wc]
                 [:x :!Wv]
                 [:c :!Wb]
                 [:keypad_1 :!Wn]
                 [:keypad_2 :!Wm]
                 [:keypad_3 :!Wy]
                 [:keypad_4 :!Wh]
                 [:keypad_5 :!Wj]
                 [:keypad_6 :!Wk]
                 [:keypad_7 :!Wu]
                 [:keypad_8 :!Wi]
                 [:keypad_9 :!Wo]
                 [:keypad_enter :!Wp]
                 [:keypad_plus :!Wl]
                 [:keypad_hyphen :!Wn]
                 ]
         }
{
         :des "command-mode"
         :rules [
                 :command-mode
                 ;; left-hand
                 [:tab :!Qw] [:q :!Qe] [:w :!Qr]
                 [:e :!Qt] [:caps_lock :!Qa] [:a :!Qs]
                 [:s :!Qd]
                 [:d :!Qf]
                 [:left_shift :!Qq]
                 [:grave_accent_and_tilde :!Qg]
                 [:z :!Qc]
                 [:x :!Qv]
                 [:c :!Qb]
                 [:keypad_1 :!Qn]
                 [:keypad_2 :!Qm]
                 [:keypad_3 :!Qy]
                 [:keypad_4 :!Qh]
                 [:keypad_5 :!Qj]
                 [:keypad_6 :!Qk]
                 [:keypad_7 :!Qu]
                 [:keypad_8 :!Qi]
                 [:keypad_9 :!Qo]
                 [:keypad_enter :!Qp]
                 [:keypad_plus :!Ql]
                 [:keypad_hyphen :!Qn]
                 ]
         }
{
         :des "plus-mode"
         :rules [
                 :plus-mode
                 ;; left-hand
                 [:tab :!Qw] [:q :!Qe] [:w :!Qr]
                 [:e :!Qt] [:caps_lock :!Qa] [:a :!Qs]
                 [:s :!Qd]
                 [:d :!Qf]
                 [:left_shift :!Qq]
                 [:grave_accent_and_tilde :!Qg]
                 [:z :!Qc]
                 [:x :!Qv]
                 [:c :!Qb]
                 [:keypad_1 :!Qn]
                 [:keypad_2 :!Qm]
                 [:keypad_3 :!Qy]
                 [:keypad_4 :a]
                 [:keypad_5 :!Qj]
                 [:keypad_6 :!Qk]
                 [:keypad_7 [:open "/Applications/Brave Browser.app/"]]
                 [:keypad_8 [:open "/Applications/iTerm.app/"]]
                 [:keypad_9 :!Qo]
                 [:keypad_enter :!Qp]
                 [:keypad_plus :!Ql]
                 [:keypad_hyphen :!Qn]
                 ]
         }

        ]
 }
